<!DOCTYPE html>
<html lang="sp-CO">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- PROPERTY -->
    <meta property="og:image" content="https://i.ibb.co/xhSRR42/logo.jpg" />
    <!-- FAVICON -->
    <link
      rel="shortcut icon"
      href="https://i.ibb.co/xhSRR42/logo.jpg"
      type="image/x-icon"
    />
    <title>Django-Auth-Crud</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">HOME</a></li>
        {% if user.is_authenticated %}
        <li><a href="/logout">LOGOUT</a></li>
        <li><a href="/tasks">TASKS</a></li>
        <li><a href="/tasks/create">CREATE TASKS</a></li>
        {% else %}
        <li><a href="/signup">SIGNUP</a></li>
        <li><a href="/signin">SIGNIN</a></li>
        {% endif %}
      </ul>
    </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>