{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
  <div class="row">
    <div class="col-md-4 offset-md-4">      

      <form action="{% url 'create_tasks' %}" method="POST" class="card card-body">

        <h1>Crear Tarea</h1>

        {% if error %}

        <div id="error">{{error}}</div>
        <script>
          setTimeout(function() {
            document.querySelector("#error").style.display = "none";
          }, 5000);
        </script>

        {% endif %}

        {% csrf_token %}
        {{form}}
        <button class="btn btn-primary mt-3">Crear Tarea</button>

      </form>

    </div>
  </div>
</main>



{% endblock %}
