{% extends 'base.html'%}

{% block content %}

<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">TaskApp</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil earum vitae facere dicta aperiam quis dolorem possimus, reprehenderit similique aut veniam ad adipisci alias voluptatibus quam eum porro quo nobis mollitia iste illo iure! Error laudantium dolorum hic harum, nihil ex voluptatum provident ut repudiandae excepturi accusamus veritatis. Laudantium ratione voluptatem eos veniam impedit pariatur et sit totam qui. Eveniet sapiente sint eligendi obcaecati error eum itaque ut iure! Modi non, rerum unde, laudantium accusamus eaque magni, id exercitationem voluptas sint quisquam sed eum nam ducimus. Porro sint impedit commodi cumque, eveniet ut odio ducimus molestiae eos libero dolor dolore.</p>

    <div class="container text-center">
      <a class="btn btn-secondary" href="/signin/">Iniciar Sesión</a>
      <br> <br>
      <a class="btn btn-dark" href="/signup/">Registrarse</a>    
    </div>

  </section>
</main>

{% endblock %}
