{% extends 'base.html' %}

{% block content%}

<h1>TASKS</h1>


<ul>
  {% for objeto in objetos %}
  <li>
    <h1>Tarea: </h1>
    {% if objeto.importante %}
      <h2 style="color: red;"><b>{{objeto.titulo}}</b></h2>
    {% else %}
      <h2 style="color: green;"><b>{{objeto.titulo}}</b></h2>
    {% endif %}
    <h1>Descripcion: </h1>
    <p>{{objeto.descripcion}}</p>
    <h1>Autor: </h1>
    <p>{{objeto.user.username}}</p>
    <p>{{objeto.importante}}</p>
  </li>
  {% endfor %}
</ul>

{% endblock %}
