{% extends 'base.html'%}

{% block content %}
  <h1>DETALLE DE TAREA</h1>

  <h2 style="color: blue;">Tarea: {{task.titulo}}</h2>
  <h2 style="color: blue;">Descripción: {{task.descripcion}}</h2>
  <h2 style="color: blue;">Autor: {{task.user.username}}</h2>

  {% if error %}

  <div id="error">{{error}}</div>
  <script>
    setTimeout(function() {
      document.querySelector("#error").style.display = "none";
    }, 5000);
  </script>

  {% endif %}

  <form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button>Actualizar</button>
  </form>

  <br>

  <form action="{% url 'completed_task' task.id %}" method="POST">
    {% csrf_token %}
    <button>Completada</button>
  </form>

{% endblock %}
