{% extends 'base.html'%}

{% block content %}


<main class="container py-5 d-flex justify-content-center">
  <div class="row">
    <div class="col-md-4 offset-md-4 card card-body ms-auto">
        <h1 class="text-center mb-3">Detalle de Tareas Pendientes</h1>
        
        <div class="text-center">
          <h3 style="color: blue;">Tarea: {{task.titulo}}</h3>
          <h3 style="color: blue;">Descripción: {{task.descripcion}}</h3>
          <h3 style="color: blue;">Autor: {{task.user.username}}</h3>
        </div>

        {% if error %}
          <div id="error">{{error}}</div>
          <script>
            setTimeout(function() {
              document.querySelector("#error").style.display = "none";
            }, 5000);
          </script>
        {% endif %}

        <div class="text-center">
          
          <form action="" method="POST">
            {% csrf_token %}
            {{form}}
            <button class="btn btn-primary mt-3">Actualizar</button>
          </form>
  
          <br>
  
          <form action="{% url 'task_done' task.id %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-primary">Completada</button>
          </form>

        </div>



        </div>


      </div>
    </div>
  </main>

  

{% endblock %}
