{% extends 'base.html' %}

{% block content%}

<main class="container py-5">
  <div class="row">
    <div class="col-md-4 offset-md-4">

      <h1 class="display-3 text-center">Tareas Realizadas</h1>
      
      <ol class="card card-body p-5 my-auto fw-bold text-center">
        {% for completada in completadas %}
        <li>
          {% if completada.completada %}
            <h2 class="text-success fw-bold">{{completada.titulo}}</h2>
            <h2>Fecha de tarea realizada: </h2>
            <h2 class="text-success">
              {{completada.completada|date:'M d Y'}}
            </h2>
          {% endif %}

            <form action="{% url 'delete_task_completed' completada.id %}" method="POST" class="text-center">
              {% csrf_token %}
              <button class="btn btn-danger">Eliminar Tarea</button>
            </form>

            
          </li>
          <hr>
          {% endfor %}
          
        </ol>
      

    </div>
  </div>
</main>

{% endblock %}
