{% extends 'base.html' %}

{% block content%}

<h1>Tareas Pendientes</h1>

<ul>
  {% for objeto in objetos %}
  <li>
    <h1>Tarea: </h1>
    {% if objeto.realizada %}
    <a href="{% url 'task_detail' objeto.id %}">
      <b style="color: green;">{{objeto.titulo}}</b>
    </a>
    {% else %}
    <a href="{% url 'task_detail' objeto.id %}">
      <p>{{objeto.titulo}}</p>
    </a>

    {% endif %}

    <h1>Descripción: </h1>
    <a href="{% url 'task_detail' objeto.id %}">
      <p>{{objeto.descripcion}}</p>
    </a>
    <h1>Autor: </h1>
    <p>{{objeto.user.username}}</p>
  </li>
  {% endfor %}
</ul>

{% endblock %}
